{% extends 'articles/base.html' %}
{% load render_partial %}
{% load poll_extras %}
{% load static %}
{% block title %}
	لیست مقالات فروشگاه کار زیبا
{% endblock %}
{% block section %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">آخریـن اخبـار</h2>
                        {% for article in object_list %}
                            <div class="single-blog-post">
                                <h3>{{ article.title }}</h3>
                                <div class="post-meta">
                                    <ul>
                                        {% if article.author is not None %}
                                            <li><i class="fa fa-user"></i>{{ article.author }}</li>
                                        {% endif %}
                                        <li><i class="fa fa-clock-o"></i></li>
                                        <li><i class="fa fa-calendar"></i></li>
                                    </ul>
                                    <span>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                    </span>
                                </div>
                                <a href="">
                                    <img src="{{ article.image.url }}" alt="">
                                </a>
                                <p>{{ article.short_description }}</p>
                                <a  class="btn btn-primary" href="{% url 'articles_detail' pk=article.id %}">ادامـه مطلب</a>
                            </div>
                        {% endfor %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                            {% endif %}
                            {% for page in paginator.page_range %}
                                <li class="{% if page_obj.number == page  %} active {% else %}{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
                            {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        {% render_partial 'articles.views.ArticleCategoriesComponent' %}
                        <div class="shipping text-center">
                            <img src="{% static 'images/home/shipping.jpg' %}" alt="" />
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}